:root {
  --app-border-color: #999;
  --app-text-color: #333;
}
* {
  color: var(--app-text-color);
}
h2 {
  margin: 0;
}

.item__content {
  width: 100%;
  border-bottom: 0.5px solid var(--app-border-color); 
  display: block;
}
.item__content {
  text-decoration: none;
}
.item__content:hover {
  color: var(--app-text-color);
}
.item__content:active {
  color: var(--app-text-color);
}
.item__content.no-color-change {
  color: var(--app-text-color);
}

.item__header {
  display: flex;
  align-items: center;
}
.item__header-title {
  font-size: 20px;
  flex-grow: 1;
}
.item__header-time {
  font-size: 14px;
}
.item__comment {
  font-size: 14px;
}